In [85]:
import os
import gc
import time

import numpy as np
import pandas as pd
import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from cachetools import cached, LRUCache

import warnings
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings('ignore')

In [86]:

train = pd.read_csv("./train_all.csv")

In [87]:
train.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion',
       'transactions', 'is_holiday', 'city', 'state', 'type', 'cluster',
       'dcoilwtico_interpolated', 'weekday', 'year', 'month', 'day',
       'Rolling_Std_Sales_3d', 'Rolling_Mean_Sales_7d', 'Rolling_Std_Sales_7d',
       'Rolling_Mean_Sales_14d', 'Rolling_Std_Sales_14d'],
      dtype='object')

In [88]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280373 entries, 0 to 1280372
Data columns (total 22 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1280373 non-null  int64
 1   date                     1280373 non-null  object
 2   store_nbr                1280373 non-null  int64
 3   family                   1280373 non-null  object
 4   sales                    1280373 non-null  float64
 5   onpromotion              1280373 non-null  int64
 6   transactions             1280373 non-null  float64
 7   is_holiday               1280373 non-null  int64
 8   city                     1280373 non-null  object
 9   state                    1280373 non-null  object
 10  type                     1280373 non-null  object
 11  cluster                  1280373 non-null  int64
 12  dcoilwtico_interpolated  1280373 non-null  float64
 13  weekday                  1280373 non-null  int64
 14  year                     1280373 non-null  int64
 15  month                    1280373 non-null  int64
 16  day                      1280373 non-null  int64
 17  Rolling_Std_Sales_3d     1280373 non-null  float64
 18  Rolling_Mean_Sales_7d    1280373 non-null  float64
 19  Rolling_Std_Sales_7d     1280373 non-null  float64
 20  Rolling_Mean_Sales_14d   1280373 non-null  float64
 21  Rolling_Std_Sales_14d    1280373 non-null  float64
dtypes: float64(8), int64(9), object(5)
memory usage: 214.9+ MB

In [89]:
# ▶ 학습에 필요없는 Column 제거
X = train.drop(['id', 'date', 'city', 'state'], axis=1)
X.head()

,store_nbr,family,sales,onpromotion,transactions,is_holiday,type,cluster,dcoilwtico_interpolated,weekday,year,month,day,Rolling_Std_Sales_3d,Rolling_Mean_Sales_7d,Rolling_Std_Sales_7d,Rolling_Mean_Sales_14d,Rolling_Std_Sales_14d
0,25,OTHERS,24.00,0,770.00,1,D,1,93.14,2,2013,1,1,555.79,24.00,555.79,24.00,555.79
1,25,BEVERAGES,810.00,0,770.00,1,D,1,93.14,2,2013,1,1,555.79,417.00,555.79,417.00,555.79
2,25,BREAD/BAKERY,180.59,0,770.00,1,D,1,93.14,2,2013,1,1,416.03,338.20,416.03,338.20,416.03
3,25,CLEANING,186.00,0,770.00,1,D,1,93.14,2,2013,1,1,361.84,300.15,348.10,300.15,348.10
4,25,DAIRY,143.00,0,770.00,1,D,1,93.14,2,2013,1,1,23.42,268.72,309.55,268.72,309.55

In [90]:
# ▶ 숫자형(Integer), 범주형(Categorical) 변수 분할
numerical_list=[]
categorical_list=[]

for i in X.columns :
  if train[i].dtypes == 'O': # O : object type
    categorical_list.append(i)
  else :
    numerical_list.append(i)

print("categorical_list :", categorical_list)
print("numerical_list :", numerical_list)

categorical_list : ['family', 'type']
numerical_list : ['store_nbr', 'sales', 'onpromotion', 'transactions', 'is_holiday', 'cluster', 'dcoilwtico_interpolated', 'weekday', 'year', 'month', 'day', 'Rolling_Std_Sales_3d', 'Rolling_Mean_Sales_7d', 'Rolling_Std_Sales_7d', 'Rolling_Mean_Sales_14d', 'Rolling_Std_Sales_14d']

In [91]:
# 피처 선택을 위한 데이터 전처리
X = pd.get_dummies(X, columns=['store_nbr', 'family', 'type', 'cluster', 'weekday', 'month'], drop_first=True)

# 데이터 타입 최적화
for col in X.select_dtypes(include=['float64']).columns:
    X[col] = X[col].astype('float32')
for col in X.select_dtypes(include=['int64']).columns:
    X[col] = X[col].astype('int32')

In [92]:
# ▶ 모델링을 학습하기 위한 Feature(X)와 Target(Y)데이터를 구분하는 단계 
from sklearn.model_selection import train_test_split

X = X.drop(['sales'], axis=1)
Y = train['sales']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print(x_train.shape)
print(y_train.shape)

print(x_test.shape)
print(y_test.shape)

(1024298, 116)
(1024298,)
(256075, 116)
(256075,)

In [93]:
x_train.iloc[0,:], x_test.iloc[0,:]

(onpromotion                     3
 transactions              5035.00
 is_holiday                      0
 dcoilwtico_interpolated     58.79
 year                         2015
                             ...
 month_8                     False
 month_9                     False
 month_10                    False
 month_11                    False
 month_12                    False
 Name: 612143, Length: 116, dtype: object,
 onpromotion                     0
 transactions              1148.00
 is_holiday                      0
 dcoilwtico_interpolated    106.61
 year                         2013
                             ...
 month_8                      True
 month_9                     False
 month_10                    False
 month_11                    False
 month_12                    False
 Name: 141340, Length: 116, dtype: object)

In [94]:
# ▶ Logistic Regression 표준화(standardization) (※정규화(0~1), Normalization)
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train_sc = scaler.fit_transform(x_train)
x_test_sc = scaler.transform(x_test)

In [69]:
train.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion',
       'transactions', 'is_holiday', 'type', 'cluster',
       'dcoilwtico_interpolated', 'weekday', 'year', 'month', 'day',
       'Rolling_Std_Sales_3d', 'Rolling_Mean_Sales_7d', 'Rolling_Std_Sales_7d',
       'Rolling_Mean_Sales_14d', 'Rolling_Std_Sales_14d'],
      dtype='object')

In [95]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import xgboost as xgb
from sklearn.metrics import mean_squared_log_error


# XGBoost DMatrix 생성
dtrain = xgb.DMatrix(x_train_sc, label=y_train)
dtest = xgb.DMatrix(x_test_sc, label=y_test)

params = {
    'objective': 'reg:squarederror',
    'eval_metric': 'rmse',
    'learning_rate': 0.1,
    'max_depth': 6,
    'colsample_bytree': 0.8,
    'subsample': 0.8
}

# XGBoost 모델 학습
evals = [(dtrain, 'train'), (dtest, 'eval')]
bst = xgb.train(params, dtrain, num_boost_round=100, early_stopping_rounds=50, evals=evals)

# 예측
y_pred_xgb = bst.predict(dtest)



# RMSLE 계산 함수
def rmsle(y_true, y_pred):
    y_true = np.maximum(y_true, 0)  # 음수 값을 0으로 변환
    y_pred = np.maximum(y_pred, 0)  # 음수 값을 0으로 변환
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

# 평가
rmsle_xgb = rmsle(y_test, y_pred_xgb)
print(f'XGBoost RMSLE: {rmsle_xgb}')

[0]	train-rmse:1440.94577	eval-rmse:1440.59457
[1]	train-rmse:1331.82075	eval-rmse:1332.54196
[2]	train-rmse:1237.92639	eval-rmse:1239.39896
[3]	train-rmse:1156.32749	eval-rmse:1158.77589
[4]	train-rmse:1086.85869	eval-rmse:1090.22901
[5]	train-rmse:1022.25291	eval-rmse:1026.96557
[6]	train-rmse:971.06883	eval-rmse:976.17853
[7]	train-rmse:915.21479	eval-rmse:921.35134
[8]	train-rmse:871.22925	eval-rmse:878.52342
[9]	train-rmse:832.81587	eval-rmse:840.84171
[10]	train-rmse:797.51756	eval-rmse:805.71764
[11]	train-rmse:762.36387	eval-rmse:771.19503
[12]	train-rmse:732.26635	eval-rmse:741.64027
[13]	train-rmse:705.04019	eval-rmse:715.05024
[14]	train-rmse:687.12420	eval-rmse:697.06005
[15]	train-rmse:667.31719	eval-rmse:677.41297
[16]	train-rmse:646.70473	eval-rmse:657.15079
[17]	train-rmse:632.55023	eval-rmse:643.25393
[18]	train-rmse:622.64959	eval-rmse:633.89887
[19]	train-rmse:607.63769	eval-rmse:619.30608
[20]	train-rmse:592.91586	eval-rmse:605.06016
[21]	train-rmse:584.19063	eval-rmse:596.68437
[22]	train-rmse:571.34002	eval-rmse:583.98052
[23]	train-rmse:561.48505	eval-rmse:574.57967
[24]	train-rmse:551.57978	eval-rmse:564.80917
[25]	train-rmse:540.73186	eval-rmse:554.06057
[26]	train-rmse:531.21174	eval-rmse:544.65844
[27]	train-rmse:522.39363	eval-rmse:535.99217
[28]	train-rmse:513.41453	eval-rmse:527.88172
[29]	train-rmse:507.28312	eval-rmse:521.70489
[30]	train-rmse:502.91046	eval-rmse:517.46758
[31]	train-rmse:495.62384	eval-rmse:510.99682
[32]	train-rmse:489.56485	eval-rmse:505.33806
[33]	train-rmse:483.66892	eval-rmse:500.03025
[34]	train-rmse:476.71079	eval-rmse:493.15844
[35]	train-rmse:472.52847	eval-rmse:489.00634
[36]	train-rmse:468.22010	eval-rmse:484.78676
[37]	train-rmse:463.33985	eval-rmse:480.42899
[38]	train-rmse:459.47658	eval-rmse:476.65569
[39]	train-rmse:454.70320	eval-rmse:472.00233
[40]	train-rmse:451.27068	eval-rmse:469.18033
[41]	train-rmse:447.55648	eval-rmse:465.54276
[42]	train-rmse:445.69025	eval-rmse:463.68829
[43]	train-rmse:441.41502	eval-rmse:459.42379
[44]	train-rmse:439.40356	eval-rmse:457.46133
[45]	train-rmse:436.02751	eval-rmse:454.12153
[46]	train-rmse:433.20512	eval-rmse:451.65456
[47]	train-rmse:430.17253	eval-rmse:448.41662
[48]	train-rmse:427.92279	eval-rmse:446.25973
[49]	train-rmse:424.90084	eval-rmse:444.12456
[50]	train-rmse:421.62707	eval-rmse:440.82252
[51]	train-rmse:418.90973	eval-rmse:438.05857
[52]	train-rmse:417.62489	eval-rmse:437.17333
[53]	train-rmse:416.17142	eval-rmse:436.09421
[54]	train-rmse:414.89171	eval-rmse:434.99533
[55]	train-rmse:412.34831	eval-rmse:432.29600
[56]	train-rmse:408.79867	eval-rmse:428.96073
[57]	train-rmse:406.53965	eval-rmse:426.66870
[58]	train-rmse:403.85747	eval-rmse:423.96458
[59]	train-rmse:402.47754	eval-rmse:422.91427
[60]	train-rmse:400.17089	eval-rmse:420.67558
[61]	train-rmse:398.12671	eval-rmse:418.70858
[62]	train-rmse:395.29920	eval-rmse:416.76474
[63]	train-rmse:392.99274	eval-rmse:414.68643
[64]	train-rmse:390.70187	eval-rmse:412.72663
[65]	train-rmse:389.28388	eval-rmse:411.67991
[66]	train-rmse:387.17273	eval-rmse:409.60711
[67]	train-rmse:385.38084	eval-rmse:407.85773
[68]	train-rmse:382.96208	eval-rmse:405.32027
[69]	train-rmse:381.13487	eval-rmse:403.53828
[70]	train-rmse:379.30627	eval-rmse:401.98192
[71]	train-rmse:377.65045	eval-rmse:400.40428
[72]	train-rmse:376.31565	eval-rmse:399.19838
[73]	train-rmse:374.57351	eval-rmse:397.40676
[74]	train-rmse:372.37708	eval-rmse:395.30011
[75]	train-rmse:370.53489	eval-rmse:393.67776
[76]	train-rmse:369.33626	eval-rmse:392.36487
[77]	train-rmse:367.59379	eval-rmse:391.40370
[78]	train-rmse:365.56832	eval-rmse:389.67335
[79]	train-rmse:363.31921	eval-rmse:387.27021
[80]	train-rmse:361.96492	eval-rmse:385.92925
[81]	train-rmse:360.68259	eval-rmse:384.53378
[82]	train-rmse:358.84688	eval-rmse:382.97020
[83]	train-rmse:357.13470	eval-rmse:381.45907
[84]	train-rmse:356.31789	eval-rmse:380.62815
[85]	train-rmse:354.61692	eval-rmse:379.04924
[86]	train-rmse:353.20355	eval-rmse:377.92560
[87]	train-rmse:351.72298	eval-rmse:376.52884
[88]	train-rmse:350.76590	eval-rmse:375.67324
[89]	train-rmse:349.77661	eval-rmse:374.89155
[90]	train-rmse:348.17089	eval-rmse:373.72535
[91]	train-rmse:346.87199	eval-rmse:372.52219
[92]	train-rmse:345.21695	eval-rmse:370.98489
[93]	train-rmse:344.45418	eval-rmse:370.25580
[94]	train-rmse:342.87067	eval-rmse:368.72958
[95]	train-rmse:341.28200	eval-rmse:367.28068
[96]	train-rmse:340.62880	eval-rmse:366.62857
[97]	train-rmse:339.32854	eval-rmse:365.33880
[98]	train-rmse:338.17753	eval-rmse:364.18859
[99]	train-rmse:337.17575	eval-rmse:363.26491
XGBoost RMSLE: 0.650998030201846

In [98]:
from sklearn.ensemble import RandomForestRegressor 

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train_sc, y_train)

# 예측
y_pred_rf = rf.predict(x_test_sc)

# RMSLE 계산 함수
def rmsle(y_true, y_pred):
    y_true = np.maximum(y_true, 0)  # 음수 값을 0으로 변환
    y_pred = np.maximum(y_pred, 0)  # 음수 값을 0으로 변환
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

# 평가
rmsle_rf = rmsle(y_test, y_pred_rf)
print(f'Random Forest RMSLE: {rmsle_rf}')

In [11]:
# ▶ BayesianOptimization 설치
!pip install bayesian-optimization

Collecting bayesian-optimization
  Downloading bayesian_optimization-1.4.3-py3-none-any.whl.metadata (543 bytes)
Requirement already satisfied: numpy>=1.9.0 in /opt/anaconda3/lib/python3.11/site-packages (from bayesian-optimization) (1.26.4)
Requirement already satisfied: scipy>=1.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from bayesian-optimization) (1.11.4)
Requirement already satisfied: scikit-learn>=0.18.0 in /opt/anaconda3/lib/python3.11/site-packages (from bayesian-optimization) (1.2.2)
Requirement already satisfied: colorama>=0.4.6 in /opt/anaconda3/lib/python3.11/site-packages (from bayesian-optimization) (0.4.6)
Requirement already satisfied: joblib>=1.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn>=0.18.0->bayesian-optimization) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn>=0.18.0->bayesian-optimization) (2.2.0)
Downloading bayesian_optimization-1.4.3-py3-none-any.whl (18 kB)
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.4.3

In [ ]:
# ▶ BayesianOptimization
import numpy as np
from bayes_opt import BayesianOptimization
from sklearn.model_selection import cross_val_score


def model_evaluate(n_estimators, maxDepth):
    clf = RandomForestClassifier(
        n_estimators= int(n_estimators),
        max_depth= int(maxDepth))
    scores = cross_val_score(clf, x_train, y_train, cv=5, scoring='roc_auc')
    return np.mean(scores)
    
    
def bayesOpt(x_train, y_train):
    clfBO = BayesianOptimization(model_evaluate, {'n_estimators':  (100, 200),
                                                  'maxDepth': (2, 4)
                                                 })
    clfBO.maximize(init_points=5, n_iter=10)
    print(clfBO.res)

bayesOpt(X_train_scaled, y_train)