In [2]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

import pandas as pd

In [33]:
holidays = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\holidays_events.csv')
oil = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\oil.csv')
sample_submission = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\sample_submission.csv')
stores = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\stores.csv')
test = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\test.csv')
train = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\train.csv') #3000888 
#transactions = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\transactions.csv')
transactions = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\transactions3.csv')

## feature selection을 위한 데이터셋 생성

In [34]:
temp = pd.merge(train, stores, how= 'inner', on='store_nbr') # 3000888

In [35]:
transactions['store_nbr'] = transactions['store_nbr'].astype(int).astype(str)

In [36]:
temp['store_nbr'] = temp['store_nbr'].astype(int).astype(str)

In [37]:
transactions['date'] = pd.to_datetime(transactions['date'])

In [38]:
temp['date'] = pd.to_datetime(temp['date'])

In [39]:
temp = pd.merge(temp, transactions, how='inner', on=['date', 'store_nbr'])

### oil

In [40]:
oil['date'] = pd.to_datetime(oil['date'])

In [41]:
temp = pd.merge(temp, oil, how='left', on='date')

In [42]:
# 결측값 보간 (interpolation)
temp['oil_price'] = temp['dcoilwtico'].fillna(method='ffill')

In [43]:
temp[(temp['store_nbr']=='1')&(temp['family']=='AUTOMOTIVE')].head(100)

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transactions,day_of_week,dcoilwtico,oil_price
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,0.0,Tuesday,NaN,NaN
33,1782,2013-01-02,1,AUTOMOTIVE,2.0,0,Quito,Pichincha,D,13,2111.0,Wednesday,93.14,93.14
66,3564,2013-01-03,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1833.0,Thursday,92.97,92.97
99,5346,2013-01-04,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1863.0,Friday,93.12,93.12
132,7128,2013-01-05,1,AUTOMOTIVE,5.0,0,Quito,Pichincha,D,13,1509.0,Saturday,NaN,93.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,169290,2013-04-06,1,AUTOMOTIVE,2.0,0,Quito,Pichincha,D,13,1349.0,Saturday,NaN,92.76
3168,171072,2013-04-07,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,521.0,Sunday,NaN,92.76
3201,172854,2013-04-08,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1824.0,Monday,93.36,93.36
3234,174636,2013-04-09,1,AUTOMOTIVE,4.0,0,Quito,Pichincha,D,13,1744.0,Tuesday,94.18,94.18
3267,176418,2013-04-10,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1916.0,Wednesday,94.59,94.59

In [44]:
# 결측값 보간 (interpolation)
temp['oil_price'] = temp['dcoilwtico'].fillna(method='bfill')

In [45]:
temp[(temp['store_nbr']=='1')&(temp['family']=='AUTOMOTIVE')].head(100)

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,transactions,day_of_week,dcoilwtico,oil_price
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,0.0,Tuesday,NaN,93.14
33,1782,2013-01-02,1,AUTOMOTIVE,2.0,0,Quito,Pichincha,D,13,2111.0,Wednesday,93.14,93.14
66,3564,2013-01-03,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1833.0,Thursday,92.97,92.97
99,5346,2013-01-04,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1863.0,Friday,93.12,93.12
132,7128,2013-01-05,1,AUTOMOTIVE,5.0,0,Quito,Pichincha,D,13,1509.0,Saturday,NaN,93.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,169290,2013-04-06,1,AUTOMOTIVE,2.0,0,Quito,Pichincha,D,13,1349.0,Saturday,NaN,93.36
3168,171072,2013-04-07,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,521.0,Sunday,NaN,93.36
3201,172854,2013-04-08,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1824.0,Monday,93.36,93.36
3234,174636,2013-04-09,1,AUTOMOTIVE,4.0,0,Quito,Pichincha,D,13,1744.0,Tuesday,94.18,94.18
3267,176418,2013-04-10,1,AUTOMOTIVE,3.0,0,Quito,Pichincha,D,13,1916.0,Wednesday,94.59,94.59

In [46]:
temp.drop(columns=['dcoilwtico'], inplace=True)

### earthquake

In [ ]:
# 지진 일어난 날 feature로 넣어줌
https://www.worlddata.info/america/ecuador/earthquakes.php
https://es.wikipedia.org/wiki/Terremoto_de_Ecuador_de_2016
https://www.usaid.gov/sites/default/files/2022-05/ecuador_eq_fs03_04-29-2016_0.pdf

In [47]:
earthquake = pd.read_csv(r'C:\Users\user\upstage3-python\ml_project_3\earthquake.csv')

In [48]:
earthquake['date'] = pd.to_datetime(earthquake['date'])

In [49]:
earthquake

        date       state  magnitude  deaths
0 2016-12-19  Esmeraldas        5.4       3
1 2016-05-18      Manabi        6.9       1
2 2016-04-16      Manabi        7.8     662
3 2016-04-16  Esmeraldas        7.8     662
4 2014-08-12       Quito        5.1       2
5 2011-10-29    Pomasqui        4.0       0

In [50]:
temp = pd.merge(temp, earthquake, how='left', on=['date','state'])

In [51]:
# 결측치 처리
temp['magnitude'].fillna(0, inplace=True)
temp['deaths'].fillna(0, inplace=True)

In [52]:
temp.to_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\temp.csv', index=False)

In [209]:
temp = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\temp.csv') #3000888

### holidays

In [210]:
# local == city
# Regional == state

Local_holidays = holidays[(holidays['locale']=='Local')& (holidays['transferred']==False) & (holidays['type']!='Event')]
Regional_holidays = holidays[(holidays['locale']=='Regional')& (holidays['transferred']==False) & (holidays['type']!='Event')]
National_holidays = holidays[(holidays['locale']=='National')& (holidays['transferred']==False) & (holidays['type']!='Event')]
Event_holidays = holidays[(holidays['type']=='Event')& (holidays['transferred']==False)]

In [211]:
Local_holidays['description'] = 1
Regional_holidays['description'] = 1
National_holidays['description'] = 1
Event_holidays['description'] = 1

C:\Users\user\AppData\Local\Temp\ipykernel_39496\3759092004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays['description'] = 1
C:\Users\user\AppData\Local\Temp\ipykernel_39496\3759092004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays['description'] = 1
C:\Users\user\AppData\Local\Temp\ipykernel_39496\3759092004.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays['description'] = 1
C:\Users\user\AppData\Local\Temp\ipykernel_39496\3759092004.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Event_holidays['description'] = 1

In [212]:
Local_holidays.drop(columns=['type','locale','transferred'],inplace=True)
Regional_holidays.drop(columns=['type','locale','transferred'],inplace=True)
National_holidays.drop(columns=['type','locale','transferred'],inplace=True)
Event_holidays.drop(columns=['type','locale','transferred'],inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_39496\93990026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays.drop(columns=['type','locale','transferred'],inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_39496\93990026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays.drop(columns=['type','locale','transferred'],inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_39496\93990026.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays.drop(columns=['type','locale','transferred'],inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_39496\93990026.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Event_holidays.drop(columns=['type','locale','transferred'],inplace=True)

In [213]:
Local_holidays.drop_duplicates(inplace=True)
Regional_holidays.drop_duplicates(inplace=True)
National_holidays.drop_duplicates(inplace=True)
Event_holidays.drop_duplicates(inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_39496\2142247382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays.drop_duplicates(inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_39496\2142247382.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays.drop_duplicates(inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_39496\2142247382.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays.drop_duplicates(inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_39496\2142247382.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Event_holidays.drop_duplicates(inplace=True)

In [214]:
Local_holidays.reset_index(drop=True, inplace=True)
Regional_holidays.reset_index(drop=True, inplace=True)
National_holidays.reset_index(drop=True, inplace=True)
Event_holidays.reset_index(drop=True, inplace=True)

In [215]:
temp = pd.merge(temp, Local_holidays, left_on=['date','city'], right_on=['date','locale_name'], how='left')
temp.drop(columns=['locale_name'], inplace=True)
temp = temp.rename(columns={'description': 'local_holiday'})
temp['local_holiday'] = temp['local_holiday'].apply(lambda x: 0 if pd.isna(x) else 1)

In [216]:
temp = pd.merge(temp, Regional_holidays, left_on=['date','state'], right_on=['date','locale_name'], how='left')
temp.drop(columns=['locale_name'], inplace=True)
temp = temp.rename(columns={'description': 'regional_holiday'})
temp['regional_holiday'] = temp['regional_holiday'].apply(lambda x: 0 if pd.isna(x) else 1)

In [217]:
temp = pd.merge(temp, National_holidays, left_on=['date'], right_on=['date'], how='left')
temp.drop(columns=['locale_name'], inplace=True)
temp = temp.rename(columns={'description': 'national_holiday'})
temp['national_holiday'] = temp['national_holiday'].apply(lambda x: 0 if pd.isna(x) else 1)

In [218]:
temp = pd.merge(temp, Event_holidays, left_on=['date'], right_on=['date'], how='left')
temp.drop(columns=['locale_name'], inplace=True)
temp = temp.rename(columns={'description': 'event_holiday'})
temp['event_holiday'] = temp['event_holiday'].apply(lambda x: 0 if pd.isna(x) else 1)

In [219]:
temp.shape[0]

3000888

In [225]:
temp.to_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\temp.csv', index=False)

In [ ]:
temp = pd.read_csv(r'C:\Users\user\upstage3-python\09.ML_project_team03\temp.csv') #3000888